<div id="content">
  <div id="contact" class="container">
    <div class="row">
      <div class="col-lg-12">
        <section class="bar">
          <div class="heading text-center">
            <h3>Contacto</h3>
          </div>
          <p class="text-md">
            Ingrese todos los datos para el envió de su consulta de acuerdo a los servicios brindados por 
            nuestra empresa inmobiliaria:
          </p>
          <form #mensajeform="ngForm" (ngSubmit)="enviarmensaje()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombres"><strong>Nombres <span class="text-primary">*</span></strong></label>
                  <input id="nombres" [appFocus]="true" type="text" class="form-control" [(ngModel)]="mensaje.nombres" name="nombres"
                    required placeholder="Ingrese nombres">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="telefono"><strong>Telefono <span class="text-primary">*</span></strong></label>
                  <input type="text" id="telefono" name="telefono" placeholder="Ingrese teléfono" required class="form-control"
                    maxlength="9" pKeyFilter="pint" [(ngModel)]="mensaje.telefono">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"><strong>Email <span class="text-primary">*</span></strong></label>
                  <input id="email" type="text" class="form-control" [(ngModel)]="mensaje.email" name="email" required ngModel [email]="true"
                    placeholder="name@example.com">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="titulo"><strong>Titulo <span class="text-primary">*</span></strong></label>
                  <input id="titulo" type="text" class="form-control" [(ngModel)]="mensaje.titulo" name="titulo" required
                    placeholder="Ingrese titulo del mensaje">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="mensaje"><strong>Mensaje <span class="text-primary">*</span></strong></label>
                  <textarea id="mensaje" class="form-control" [(ngModel)]="mensaje.mensaje" name="mensaje" required
                    placeholder="Ingrese mensaje"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-template-outlined" [disabled]="!mensajeform.form.valid">
                  <i class="fa fa-envelope-o"></i> Enviar mensaje
                </button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>