<app-modal>
  homePage();
</app-modal>
<!--Carousel de servicios-->
<section style="background: url('assets/img/photogrid.jpg') center center repeat; background-size: cover;" class="relative-positioned">
  <!-- Carousel Start-->
  <div class="home-carousel">
    <div class="dark-mask mask-primary"></div>
    <div class="container">
      <div class="homepage owl-carousel">
        <div class="item" *ngFor="let servicio of listaServicios; let i = index;">
          <div class="row">
            <div class="col-md-5 text-right">
              <p><img src="assets/img/logo.png" alt="" class="ml-auto"></p>
              <h1>{{servicio.titulo}}</h1>
              <p>{{servicio.descripcion}}.</p>
            </div>
            <div class="col-md-7"><img [src]="servicio.imagen" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel End-->
</section>
<!-- <div id="content">
  <div id="contact" class="container">
    <div class="row">
      <div class="col-lg-12">
        <section class="bar">
          <div class="heading text-center">
            <h3>Contacto</h3>
          </div>
          <div class="project owl-carousel">
            <div class="item">
              <img src="assets/img/servicios/jardineria.jpg" alt="" class="img-fluid">
              <div class="carousel-caption d-none d-md-block">
                <h3>Jardinería</h3>
                <p>Servicio de jardineria</p>
              </div>
            </div>                
            <div class="item">
              <img src="assets/img/servicios/diseño_interiores.jpg" alt="" class="img-fluid">
              <div class="carousel-caption d-none d-md-block">
                <h3>Diseño de interiores</h3>
                <p>Servicio de diseño de interiores</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/servicios/diseño_exteriores.jpg" alt="" class="img-fluid">
              <div class="carousel-caption d-none d-md-block">
                <h3>Diseño de exteriores</h3>
                <p>Servicio de diseño de exteriores</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/servicios/camara_vigilancia2.jpg" alt="" class="img-fluid">
              <div class="carousel-caption d-none d-md-block">
                <h3>Cámaras de vigilancia</h3>
                <p>Servicio de cámaras de vigilancia</p>
              </div>
            </div>                
          </div>
        </section>
      </div>
    </div>
  </div>
</div> -->
<!--Detalle de servicios-->
<!-- <section class="bar bg-gray no-mb padding-big text-md-center" style="border-top: 1px solid#6aae7a">
  <div class="container">
    <div class="heading text-center">
      <h3>Servicios</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p-tabView>
          <p-tabPanel header="Jardinería" leftIcon="pi pi-calendar">
            <p class="text-justify">
              The story begins as Don Vito Corleone, the head of a New York Mafia family, 
              overseeshis daughter's wedding. His beloved son ichael has just come home from the war, 
              but does not intend to become part of his father's business. T hrough Michael's life 
              the nature of the family business becomes clear. The business of the family is just 
              like the head of the family, kind and benevolent to those who give respect, but given 
              to ruthless violence whenever anything stands against the good of the family.
            </p>
            <h4><a href="assets/documentos/estados-de-las-promesas.pdf" target="_blank">Ver documento</a></h4>
            <div class="item text-center"><img src="assets/img/servicios/servicio-jardineria.jpg" alt="" class="img-fluid"></div>
          </p-tabPanel>
          <p-tabPanel header="Diseño interiores" leftIcon="pi pi-inbox">
            <p class="text-justify">
              Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, 
              The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual 
              fall, deepening The_Godfather's depiction of the dark side of the American dream. 
              In the early 1900s, the child Vito flees his Sicilian village for America after 
              the local Mafia kills his family. Vito struggles to make a living, legally or illegally, 
              for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci 
              after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's 
              communal stature grows.
            </p>
            <h4><a href="assets/documentos/INDUSTRIAS ALIMENTARIAS_2.pdf" target="_blank">Ver documento</a></h4>
            <div class="item text-center"><img src="assets/img/servicios/servicio-diseno-interiores.png" alt="" class="img-fluid"></div>
          </p-tabPanel>
          <p-tabPanel header="Diseño exteriores" leftIcon="pi pi-user" rightIcon="pi pi-star">
            <p class="text-justify">
              After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo 
              returned to the well for this third and final story of the fictional Corleone crime family. 
              Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay 
              has nearly succeeded in keeping his promise that his family would one day be completely 
              legitimate.
            </p>
            <h4><a href="assets/documentos/LIBRO 100 Experimentos sencillos Fisica y Quimica.pdf" target="_blank">Ver documento</a></h4>
            <div class="item text-center"><img src="assets/img/servicios/servicio-diseno-exteriores2.jpg" alt="" class="img-fluid"></div>
          </p-tabPanel>
          <p-tabPanel header="Cámara vigilancia" leftIcon="pi pi-user" rightIcon="pi pi-star">
            <p class="text-justify">
              After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo 
              returned to the well for this third and final story of the fictional Corleone crime family. 
              Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay 
              has nearly succeeded in keeping his promise that his family would one day be completely 
              legitimate.
            </p>
            <h4><a href="assets/documentos/NIIF.pdf" target="_blank">Ver documento</a></h4>
            <div class="item text-center"><img src="assets/img/servicios/servicio-camara-seguridad.jpg" alt="" class="img-fluid"></div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</section> -->