<app-modal>
    project();
</app-modal>
<!--Carousel de servicios-->
<section style="height: 84vh" class="d-flex align-items-center" [ngClass]="claseBackgroud">
  <div class="row" style="width: 100%">
    <div class="col-md-12">
      <!-- Carousel Start-->
      <div class="home-carousel">
        <!-- <div class="dark-mask mask-primary"></div> -->
        <div class="container">
          <div class="project owl-carousel">
            <div class="item" *ngFor="let servicio of listaServicios; let i = index;">
              <div class="row">
                <div class="col-md-7">
                  <img [src]="servicio.imagen" alt="" class="img-fluid"/>
                </div>
                <div class="col-md-5 p-4 text-primary">
                  <!--text-right style="background-color: #286767"-->
                  <h1>{{tiposervicio}}</h1>
                  <h2>{{servicio.titulo}}</h2>
                  <p>{{servicio.descripcion}}.</p>
                  <h4><a [href]="servicio.documento" target="_blank"
                    class="scroll-to btn btn-template-outlined-white bg-primary">Ver documento</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel End-->
    </div>
  </div>
</section>