<div class="row d-flex align-items-center flex-wrap p-1">
  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-2">
    <h4 class="h4 m-0">
      <strong><i class="fa fa-home" aria-hidden="true"></i> HABITACIÓN</strong>
    </h4>
  </div>
  <div class="col-lg-6 col-md-4 col-sm-9 col-xs-10 text-center">
    <h4 class="h4 m-0">
      <strong>
        <span *ngIf="habitacion.contrato=='A'">ALQUILER: </span>
        <span *ngIf="habitacion.contrato=='V'">VENTA: </span> S/ {{habitacion.preciocontrato}}
      </strong>
    </h4>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-right">
    <h4 class="h4 m-0">
      <strong><i class="fa fa-phone" aria-hidden="true"></i></strong>
      {{constantes.KEY_EMPRESA_SELECT.telefono}}
    </h4>
  </div>
</div>
<div id="content" class="bg-white">
  <div class="row portfolio-project">
    <div class="col-md-10">
      <section>
        <!-- Carousel Start-->
        <div class="home-carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" *ngFor="let foto of fotos; let i = index;"
                [attr.data-slide-to]="i" [ngClass]="{'active': i==0}"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" [ngClass]="{'active': i==0}" *ngFor="let foto of fotos; let i = index;">
                <img class="d-block w-100" [src]="foto.foto" [alt]="foto.nombre">
                <div class="carousel-caption d-none d-md-block">
                  <h3>HABITACION ({{i+1}})</h3>
                  <p>{{foto.detalle}}</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <!-- Carousel End-->
      </section>
      <p style="font-size: 16px; color: black">
        <strong>Descripción: </strong>{{habitacion.descripcion}}
      </p>
    </div>
    <div class="col-md-2 pl-0">
      <section class="borderPanel p-3 mt-1">
        <h5><strong>Dirección</strong></h5>
        <p>
          <i class="fa fa-home" aria-hidden="true"></i> {{habitacion.direccion}}
        </p>
        <h4><strong>Área</strong></h4>
        <p>{{habitacion.largo}} m. x {{habitacion.ancho}}.</p>
        <h4><strong>Datos</strong></h4>
        <p>
          <i class="fa fa-check" aria-hidden="true"></i> {{habitacion.ncamas}} Camas<br />
          <span *ngIf="habitacion.tbanio"><i class="fa fa-check" aria-hidden="true"></i> Hay S.H</span><br />
        </p>
        <h4><strong>Servicios</strong></h4>
        <p>
          <span *ngFor="let servicio of servicios">
            <i class="fa fa-check" aria-hidden="true"></i> {{servicio.servicio}}<br />
          </span>
        </p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <!--Mapa-->
      <section class="bar">
        <div class="heading">
          <h4>
            <i class="{{constantes.ICON_MARKER}}" aria-hidden="true"></i> Ubicación
          </h4>
        </div>
        <p style="font-size: 16px; color: black"> {{ubigeo.departamento.ubigeo}}, {{ubigeo.provincia.ubigeo}}, {{ubigeo.ubigeo.ubigeo}}  
            | {{habilitacionurbana.siglas}} {{habitacion.nombrehabilitacionurbana}} | <strong>Referencia: </strong> {{habitacion.referencia}}
        </p>
        <!--Mapa-->
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [zoomControl]="true" [zoomControlOptions]="zoomControlOptions" 
        [fullscreenControl]="true" [fullscreenControlOptions]="fullscreenControlOptions" [streetViewControl]="'false'" 
        [mapTypeControl]="'true'" [scaleControl]="true" [scaleControlOptions]="scaleControlOptions" 
        [disableDefaultUI]="true" [panControl]="true" [panControlOptions]="panControlOptions" [streetViewControlOptions]="true">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [draggable]="true"
            [markerDraggable]="false">
            <agm-info-window>
              <h6><strong>Ubicación {{constantes.TAG_HABITACION}}</strong></h6>
              <p>Punto de Ubicación</p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </section>
    </div>
    <div class="col-md-2 pl-0">
      <!--Contacto-->
      <section class="bar">
        <div class="row portfolio-project">
          <div class="col-md-12">
            <div class="heading">
              <h4>
                <strong><i class="fa fa-envelope-o" aria-hidden="true"></i> Contacto</strong>
              </h4>
            </div>
            <!-- <p style="font-size: 15px" class="text-justify">
              Por favor, siéntase libre de contactarnos, nuestro centro de servicio al cliente está trabajando para
              usted.
            </p> -->
            <form #mensajeform="ngForm" (ngSubmit)="enviarmensaje()" class="borderPanel p-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-2">
                    <label for="nombres"><strong>Nombres <span class="text-primary">*</span></strong></label>
                    <input id="nombres" type="text" class="form-control" [(ngModel)]="mensaje.nombres" name="nombres"
                      required placeholder="Ingrese nombres">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-2">
                    <label for="telefono"><strong>Telefono <span class="text-primary">*</span></strong></label>
                    <input id="telefono" type="text" class="form-control" [(ngModel)]="mensaje.telefono" name="telefono"
                      required placeholder="Ingrese telefono">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-2">
                    <label for="email"><strong>Email <span class="text-primary">*</span></strong></label>
                    <input id="email" type="text" class="form-control" [(ngModel)]="mensaje.email" name="email"
                      placeholder="Ingrese email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-2">
                    <label for="titulo"><strong>Titulo <span class="text-primary">*</span></strong></label>
                    <input id="titulo" type="text" class="form-control" [(ngModel)]="mensaje.titulo" name="titulo"
                      required placeholder="Ingrese titulo del mensaje">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-2">
                    <label for="mensaje"><strong>Mensaje <span class="text-primary">*</span></strong></label>
                    <textarea id="mensaje" class="form-control" [(ngModel)]="mensaje.mensaje" name="mensaje" required
                      placeholder="Ingrese mensaje" maxlength="255"></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-template-outlined" [disabled]="!mensajeform.form.valid">
                    <i class="fa fa-envelope-o"></i> Enviar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- GET IT-->
<div class="get-it p-2 rounded">
  <div class="container">
    <!--<div class="row">
        <div class="col-lg-12 text-center p-3">
          <h3>Lista de servicios brindados por nuestra inmobiliaria:</h3>
        </div>
      </div>-->
    <!---->
    <div>
      <!--class="bar pt-0"-->
      <div class="row portfolio p-0">
        <div class="col-md-12">
          <h4 class="text-center">MÁS PROPIEDADES</h4>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box-image">
            <div class="image"><img src="assets\img\home\casa.jpeg" alt="" class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center">
                <div class="content text-center">
                  <!-- <div class="name no-mb">
                    <h3><a href="portfolio-detail.html" class="color-white">Propiedades</a></h3>
                  </div> -->
                  <div class="text">
                    <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                    <p class="buttons">
                      <a href="#" (click)="verPropiedades(constantes.TAG_CASA); false" class="btn btn-template-outlined-white btn-sm">
                        <i class="fa fa-search"></i> Casas
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box-image">
            <div class="image"><img src="assets\img\home\lotes.jpg" alt="" class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center">
                <div class="content text-center">
                  <!-- <div class="name no-mb">
                    <h3><a [routerLink]="['servicios/lotes']" class="color-white">Lotes</a></h3>
                  </div> -->
                  <div class="text">
                    <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                    <p class="buttons">
                      <a href="#" (click)="verPropiedades(constantes.TAG_LOTE); false" class="btn btn-template-outlined-white btn-sm">
                        <i class="fa fa-search"></i> Lotes
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box-image">
            <div class="image"><img src="assets\img\home\local.jpeg" alt="" class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center">
                <div class="content text-center">
                  <!-- <div class="name no-mb">
                    <h3><a href="portfolio-detail.html" class="color-white">Locales</a></h3>
                  </div> -->
                  <div class="text">
                    <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                    <p class="buttons">
                      <a href="#" (click)="verPropiedades(constantes.TAG_LOCAL); false" class="btn btn-template-outlined-white btn-sm">
                        <i class="fa fa-search"></i> Locales
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box-image">
            <div class="image"><img src="assets\img\home\habitacion.jpg" alt="" class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center">
                <div class="content text-center">
                  <!-- <div class="name no-mb">
                    <h3><a href="portfolio-detail.html" class="color-white">Habitaciones</a></h3>
                  </div> -->
                  <div class="text">
                    <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                    <p class="buttons">
                      <a href="#" (click)="verPropiedades(constantes.TAG_HABITACION); false" class="btn btn-template-outlined-white btn-sm">
                        <i class="fa fa-search"></i> Habitaciones
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>