/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 400px;
}

.navColor{
    background-color: #58D68D;
}

.filters-form {
  width: 100%;
  padding: 0 45px;
  margin-top: 35%;
  position: absolute;
  top: 0;
  left: 0;
  display: left;
  flex-direction: column;
  box-sizing: border-box;
}

.filters-form form {
  background-color: rgba(72,69,64,.6);
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
  padding: 10px;
}

.img-inicio {
  width: 100%;
  height: 100%;
}
.sizeBar{
  line-height: 0.75;
}

.pie{
  padding: 2px 0 0px;
  background: #555;
  color: #fff;
  margin-top: auto !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.card-header-actions {
  display: inline-block;
  float: right;
  margin-right: -0.25rem;
}

.card-header-action {
  padding: 0 0.25rem;
  color: #73818f;
}

.borderPanel {
    background-color: #fff;
    border-radius: 5px;
    border: 0.1em solid #6aae7a;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.33);
    box-sizing: border-box;
    /* margin-bottom: 17px;
    padding: 11px;
    position: relative;
    width: 100%; */
}

/*
  Select
*/

#filtrospropiedades .ui-dropdown {
  width: 100%!important;
  border-radius: 3px!important;
  vertical-align: baseline!important;
}

/* #filtrospropiedades .ui-dropdown:not(.ui-state-disabled):hover, .ui-state-focus, .ui-state-default {
  background: none!important;
} */
#filtrospropiedades .ui-dropdown .ui-dropdown-label {
  font-size: 0.75rem!important;
}

#filtrospropiedades .ui-dropdown-panel .ui-dropdown-item {
  font-size: 0.75rem!important;
}
#filtrospropiedades .ui-dropdown.ui-state-focus {
  box-shadow: inset 0 -2px 0 #6aae7a!important;
}

#filtrospropiedades .ui-dropdown .ui-dropdown-trigger {
  padding-top: 0.9em!important;
}

#filtrospropiedades .ui-inputtext {
  /* color: #5c6873!important; */
  padding-left: 10px!important;
}

#filtrospropiedades .ui-dropdown .ui-dropdown-clear-icon {
  right: 1.33em!important;
  font-size: 1.3em!important;
}

.ui-dropdown:focus {
  box-shadow: inset 0 -2px 0 #6aae7a;
}

/*Galeria de imagenes*/
#galleria .img-fluid {
  width: 100% !important;
  height: 120px;
}

.h-img{
  height: 155% !important;
}
/*Ajuste de tamaño casa-detalle. etc..*/
#content .w-100 {
  height: -webkit-fill-available;
}

.mb7 {
  margin-bottom: 7px;
}

.texto-vertical-3 {
  /* word-wrap: break-word;
  text-align:center; */
  /* writing-mode: vertical-rl; */
  text-orientation: upright;
  /* text-align: center;
    position: relative;
  top: 10vh; */
  display:flex;
  justify-content:center;
  align-items:center;
  /* background-color: coral; */
  writing-mode: vertical-lr;
  min-height: 10em;
  line-height: 2em;
  height: 100%;
}